backcall==0.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
compressed-rtf==1.0.5
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.3.0
dill==0.2.7.1
EasyProcess==0.2.3
idna==2.6
IMAPClient==2.0.0
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
json2html==1.2.1
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.1
marshmallow==2.15.3
matplotlib==2.2.2
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
networkx==2.1
numpy==1.14.3
olefile==0.45.1
opencv-python==3.4.1.15
parso==0.2.1
pathlib==1.0.1
pdfminer.six==20170720
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
protobuf3==0.2.1
ptyprocess==0.5.2
pycryptodome==3.6.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyVirtualDisplay==0.2.1
PyWavelets==0.5.2
pyzmq==17.0.0
regex==2017.4.5
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
selenium==3.12.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
spacy==2.0.11
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
wrapt==1.10.11
xlrd==1.1.0
